@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:  url('../assets/bg-2.jpg'), rgba(0,0,0,.4) !important;
    background-size: cover !important;
    background-blend-mode: multiply;
    background-repeat: no-repeat !important;
    color: #fff;
    font-family: 'Space Grotesk', sans-serif;
    height: 100vh;
   
}

#content  {
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

#content p {
    padding-top: 1rem;
}

#content button {
    padding: 1rem;
    cursor: pointer;
    width: 100%;
    margin-top: 3rem;
    background: rgb(69, 115, 231);
    color: #fff;
    font-weight: 400;
    border-radius: 10px;
    font-size: 1.2rem;
    outline: 0;
}

@media screen and (min-width: 766px) and (max-width: 990px) {
    #content {
        width:50%;
    }
} 

@media screen and (max-width: 767px) {
    #content {
        width: 90%;
    }
}

